/* @charset "utf-8";

html,body{margin: 0; padding: 0;}

header,nav,section,article,aside,footer,main,figure {display: block;} /*ie10이하에서 html5태그를 인식하지 못하는 부분에 대한 재선언*/

ul li {list-style: none;}
a {text-decoration: none; color: inherit;}
a img {border: none;}

em,i,cite,address {font-style: normal;}

table {border-collapse: collapse;}

.blind {font-size: 0; line-height: 0; height: 0; overflow: hidden; text-indent: -9999px;}

.clear:before,
.clear:after {content: ''; display: block; clear: both;}
 


*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
  
}

html{
    font-size:10px;
    height:100%;
    display:block;
}



body{
    box-sizing: border-box;
    width: 100%;
    height:100%;
    color: #252525;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.6rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.03em;
    word-break: keep-all;
}
@media(max-width:767px){
.wraps > section:not(.visual) {
   
    box-sizing: border-box;
    display: flex;
    
    padding-top: 50px;
    /* height: calc(100vh - 70px); */
    box-sizing: border-box;
    
}
}
@media(min-width:768px){
    .wraps > section:not(.visual) {
        padding-top:70px; 
        box-sizing: border-box;
        display: flex;
        
    }
    }
/*container size*/

/*컨테이너 사이즈*/
.w1200{
    max-width:1200px;
    width:85%;
    margin:0 auto;
}






/*고해상도 pc*/
@media(min-width:1921px){
  


    .visual .visual_text{
        width: 90%;
        position: absolute;
        left: 5%;
        bottom: 20vh;
    } 

    .visual .visual_text h3{
        font-size: 7.2rem;
        letter-spacing: 0em;
        line-height: 1.4;
        color: #fff;
        font-weight: 700;
    }

    .visual .visual_text p{
        font-size: 2.4rem;
        letter-spacing: -0.03em;
        line-height: 2;
        color: #fff;
        font-weight: 400;
        margin-top: 30px;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .video_wrap{
        width:100%;
        height:100vh;
        position:relative;
    }

      /*.information & #map */
    #map{
        height:calc(100vh - 200px);
        position:relative;
        transform: translateY(-200px);
        
        
    }

    .info {
        text-align: left;
        padding:180.75px 0px;
        box-sizing: border-box;
        height:100%;
        display: flex;
        font-size:2rem;

    }
    
     .info > div:first-child {
         padding:50px 0px;
         width:50%;
     }


    .info .address {
        color: #16305f;
        font-weight: 700;
        padding:60px 0px 100px;
    }
    
        /*카카오맵*/
        .kakaomap{
            position:relative;
            margin:0 auto;
            width:50%;
            max-height:700px;
            min-height: 630px;
            
        }

}




