


@media(max-width:767px){

    .wraps > section {
        height:100vh;
        /* min-height:910px; */
    }
    .wraps > section:last-child {
        height:calc(100vh - 200px);
        padding-top:70px; 
        box-sizing: border-box;
    }

    /* .wraps > section:not(.visual) {
        justify-content:center;
        flex-direction: column;
    } */
    .wraps{
        height: 100%;
        min-height: 100%;
        /* padding-bottom:200px; */
        box-sizing: border-box;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        line-height: 70px;
        height: 70px;
        width: 100%;
        overflow: hidden;
        z-index: 999;
        border-bottom:1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
        

        
    }


    /*스크롤 할때 헤더*/

    .down {
        background-color:(255,255,255,0.7);
        border-color:rgba(0,0,0,0.1);
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
        background: #fff;
    }

    header.down > div ul a {
        color: #252525;
    }

    header.down .logo a{
        display:block;
        width:100%;
        height:100%;
        background: url(../img/h_logo_n.svg)no-repeat center / 100%;
    }


    /*헤더*/
    header > div{
        display:flex;
        justify-content: space-between;
        max-width:90%;
        margin:0 auto;
        height:100%;
    }

    header .logo{
        width:11rem;
        height:100%;
    }
    header .logo a{
        display:block;
        width:100%;
        height:100%;
        background: url(../img/h_logo_w.svg)no-repeat center / 100%;
    }



    header > div ul {
        display:none;
    }

    header > div ul a{
        padding:0 20px; 
        display:block; 
        color:#fff;
        font-size:1.4rem;
    }

    #navi li{
        border-bottom:3px solid rgba(165, 152, 186, 0);
        box-sizing: border-box
    }

    #navi li:hover,
    #navi li.on{
        box-sizing: border-box;
        border-bottom:3px solid #16305f;
    }


    /*메인 스크롤 애니메이션*/
    .scroll {
        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
        z-index: 1;
    
    }

    .scroll_text {
        
        display: block;
        font-weight: 600;
        color: #FFF;
        margin-bottom: 15px;
        font-size:1.3rem;
    }
    .dots {
        width: 2.4rem;
        margin: 0 auto;
        height: 45px;
        position: relative;
    }
    .dots span {
        position: absolute;
        display: block;
        background-color: #fff;
        border-radius: 50%;
        width: 2.4rem;
        height: 24px;
    }
    .dots span:nth-child(1) {
        left: 0;
        top: 0;
        opacity: .1;
        transform: translateY(0px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(2) {
        left: 0;
        top: 0;
        opacity: .3;
        transform: translateY(4px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(3) {
        left: 0;
        top: 0;
        opacity: .5;
        transform: translateY(9px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(4) {
        left: 0;
        top: 0;
        opacity: .7;
        transform: translateY(13px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(5) {
    left: 0;
        top: 0;
        opacity: .8;
        transform: translateY(16px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(6) {
        left: 0;
        top: 0;
        opacity: 1;
        transform: translateY(19px);
        animation: dots1 2s infinite;
    }
    @keyframes dots1{
        0%{
        }
        100%{
        transform: translateY(19px);
        }
    }


    /*.visual & #main */

    .m_none{display:none;}
    .visual .visual_text{
        width: 90%;
        position: relative;
        left: 50%;
        bottom: 45%;
        text-align:center;
        transform:translate(-50%,-45%);
    } 

    .visual .visual_text h3{
            font-size: 3.2rem;
            letter-spacing: 0em;
            line-height: 1.4;
            color: #fff;
            font-weight: 700;
    }

    .visual .visual_text p{
        font-size: 1.6rem;
        letter-spacing: -0.03em;
        line-height: 1.4;
        color: #fff;
        font-weight: 400;
        margin-top: 30px;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .video_wrap{
        width:100%;
        height:100%;    
    }

    video{
        width:100%; 
        height:100%;
        object-fit:cover;
    }



    /*.service & #work */

    .service {          
        /* display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction:row-reverse; */
        height:100%;
    } 
    .service_wrap{
        width:100%;
        height:100% ;
        display:flex; 
        justify-content: center; 
        flex-direction: column;
        gap:3%;
    
        
    }
    .left{
        display:flex;
        gap:16px;
    
    }
     
    .left ul{
        display:flex;
        flex-direction: column;
        gap:16px;
    }
    .service ul {
       
        width:100%; 
        display:flex; 
        box-sizing: border-box;
        flex-wrap:wrap;
        justify-content:space-between; 
        padding-top:30px;
        font-size:1.2rem;
    }
    .left > ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.8rem;
    }
    .service ul:first-child li{
          
        background:#dfeafe;
    }
    .service ul:last-child li{
       
        background:#f5f5f5;
    }
 
    .service ul li h3 {
        font-size:1.4rem;
        padding-bottom:.7rem;
    } 
    .left .service_box .m_mouseover {
      
        opacity: 0;
        box-sizing: border-box;
       
        
    } 

    .m_mouseover{
        width:100%;
        padding:20px;
        border-radius: 1.8rem;
        height:100%;
        background:#16305fe8;
        color:#fff;
        display : flex;
        justify-content : center;
        align-items : center;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .service ul img{
        width: 100%; 
        height:60px; 
        object-fit: contain;
    }

    .service ul li .service_box{
        width:100%;
        height:100%;
        margin:0 auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align:Center;
        position:relative;
       padding:15px;
       box-sizing: border-box;

    }

    .text_group h2 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom:7px;
    }
    .text_group p {
        font-size: 1.5rem;
        padding-top:13px;
        
      
    }

    .text_group h2 span {
        font-weight: 700;
        color: #16305f;
    }



    /*.business & #offer */

    .business{
    
        background-color: #eff2f4;
    }
  

    .business div h3{
       
        font-size: 2.2rem;
        line-height: 1.42;
        font-weight: 600;
        color: #080808;
        letter-spacing: -1.28px;
        text-align: center;
        margin: 15px 0 30px;

    }

    .business div > img{
        width:3.5rem;
    }
    .m95{
        width:95%!important;
        margin:0 auto;
    }

    .business ul{
        
        margin:0 auto;
      
    }
 
    [data-aos=fade-up] {
        transform: translate3d(0,0px,0)!important;
    }
    .business ul {
        width:70%;
    }
    
    .business ul li{
        width:100%;
        height:70px;
        border-radius: 10px; 
        box-shadow: 5px 2px 22px -15px;
        background: #fff;
        text-align:center;   
        box-sizing: border-box; 
        margin:10px auto;
        position:relative;
       
    }
    .con2_wrap{
        text-align:Center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
 
    .business ul li div{
       
        display:flex;
        align-items:center;
        width: 160px;
        justify-content:center;
        margin:0 auto;
        height:70px;
        
}
    .business ul li div img{
        width:4.3rem;
    }

    .business ul li p{
        display:inline-block;
        color:#080808;
        font-size:1.6rem;
        margin-left:30px;
    }



    /*.information & #map */

        
    .information{
      
       position:relative;
     
   }

    .info {
        
        box-sizing: border-box;        
        font-size:1.4rem;
        display:flex;
        justify-content: center;
        flex-direction: column;
        height:calc(100% - 155px);
      

    }
    
    
    .info > div:first-child {
       
        width:100%;
    }

    .info h2 {
        font-weight: 700; 
        font-size:3rem;
    }


    .info .address {
        color: #16305f;
        font-weight: 700;
        padding:7px 0rem;
    }



    .info > div span {
        font-weight: 700;
    }
    .info > div ul li {
        line-height:2;
        font-size:1.4rem;
    }
    
    .info > div p .mini {
        font-size:1.5rem;
    }
    

    /*카카오맵*/
    .kakaomap{
        position:relative;
        margin:20px auto 0px;
        width:100%;
        height:50%;
        max-height:350px;
        
        
    }

    .kakaomap > .root_daum_roughmap{
        width:100%;
        height:100%;
    }

    .kakaomap > .root_daum_roughmap .wrap_map{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    }

    .kakaomap .hide {
        display:none;
    }

/*푸터*/
    footer{
        
        position : relative;
        transform : translateY(-100%);
        background:#16305f ;
        padding:24.11px 0;
        box-sizing:border-box;
    }
    .f_wrap{
        max-width:90%;
        margin:0 auto;
        color:#fff;
        
    }

    .f_wrap  h1 img{
        width:10rem;
        margin-bottom:.7vw;
    }

    .f_wrap p{
        font-size:1.3rem;
        display: inline-block;
        margin-right:30px;
        font-weight: 200;
        line-height:1.8;
       

    }

    .f_wrap p span{
        display: inline-block;
        font-weight:400;
    }

    .f_wrap .copyright{
        display: inline-block;
        color:rgba(0255,255,255,.5);
        font-size:1rem;
        margin-top:10px;
        letter-spacing: 1px;
    }


    /*고정 상단 버튼*/
    .top_btn{
        display:block;
        width:40px;
        height:40px;
        border-radius: 50%;
        box-sizing: border-box;
        text-align: center;
        position: fixed;
        right:3.5vw;
        bottom:3.5vw;
        align-items: center;
        background: #fff;
        box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0,0,0,0.2);
        z-index:50;
    }
    .top_btn span{
        line-height:1.9;
    }
    .top_btns{width:20px;}

}
