 @media (max-width:767px){    
    .wraps > section {
       display:block;
       background-color: #fff;
    }

    .wraps > section:last-child {
        /* height:calc(100vh - 200px);
        padding-top:70px;  */
        box-sizing: border-box;
    }

    .wraps > section:not(.visual) {
       
        box-sizing: border-box;
        background: #fff;
    }
    .wraps{
        /* padding-bottom:200px; */
        box-sizing: border-box;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        line-height: 70px;
        height: 70px;
        width: 100%;
        overflow: hidden;
        z-index: 999;
        border-bottom:1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
        

        
    }


    /*스크롤 할때 헤더*/

    .down {
        background-color:(255,255,255,0.7);
        border-color:rgba(0,0,0,0.1);
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
        background: #fff;
    }

    header.down > div ul a {
        color: #252525;
    }

    header.down .logo a{
        display:block;
        width:100%;
        height:100%;
        background: url(../img/h_logo_n.svg)no-repeat center / 100%;
    }


    /*헤더*/
    header > div{
        display:flex;
        justify-content: space-between;
        max-width:90%;
        margin:0 auto;
        height:100%;
    }

    header .logo{
        width:11rem;
        height:100%;
    }
    header .logo a{
        display:block;
        width:100%;
        height:100%;
        background: url(../img/h_logo_w.svg)no-repeat center / 100%;
    }



    header > div ul {
        display:none;
    }


   .scroll{display:none;}

    /*.visual & #main */

    .visual{
         position: relative;
         width:100%;
         height:400px;
    }
    .visual .visual_text{
        width: 90%;
        position: relative;
        left: 5%;
        bottom: 180px;
        z-index:3;
    } 

    .visual .visual_text h3{
            font-size: 2.8rem;
            letter-spacing: 0em;
            line-height: 1.4;
            color: #fff;
            font-weight: 700;
    }

    .visual .visual_text p{
        font-size: 1.5rem;
        letter-spacing: -0.03em;
        line-height: 4;
        color: #fff;
        font-weight: 400;
        
        word-break: keep-all;
        word-wrap: break-word;
    }
    .video_wrap{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; /* 다른 콘텐츠 위에 배치 */
        overflow: hidden;
    }

    .video_wrap video{
        width:100%; 
        height:100%;
        object-fit:cover;
        pointer-events: none; /* 동영상 영역에 대한 이벤트 비활성화 */
        
        /* 재생 버튼 및 컨트롤러 숨김 처리 */
        outline: none;
        border: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        user-select: none;
    }

    /*비디오*/
    /* 전체화면 버튼 */ 
video::-webkit-media-controls-fullscreen-button {display: none !important;} 

/* 일시정지, 재생 버튼 */ 
video::-webkit-media-controls-play-button {display: none !important;} 

/* 재생 슬라이드..? */ 
video::-webkit-media-controls-timeline {display: none !important;} 

/* 현재 진행 시간 */ 
video::-webkit-media-controls-current-time-display{display: none !important;} 

/* 전체 시간 */ 
video::-webkit-media-controls-time-remaining-display {display: none !important;} 

/* 음소거 버튼 */ 
video::-webkit-media-controls-mute-button {display: none !important;} 

/* 볼륨 조절 슬라이드 */ 
video::-webkit-media-controls-volume-slider {display: none !important;} 

/* 괄호에 display: none !important; 를 추가하면된다. 
예 ) 전체화면 전환 버튼을 숨긴다. 다만 더블클릭으로 전체화면이 되는 기능등은 
그대로고 단지 버튼만 없앤다. */ 
video::-webkit-media-controls-fullscreen-button { display: none !important; }



    /*.service & #work */

    .service {padding-top:100px;}

    .service ul {
       
        width:100%; 
        display:flex; 
        box-sizing: border-box;
        flex-wrap:wrap;
        justify-content:space-between; 
        margin:50px 0px;

    }

    .service ul li {
        width:48.5%; 
        height:300px;
        position:relative; 
        background: #dfeafe; 
        border-radius: 1.8rem;
    }

    .service ul li h3 {
        font-size:1.6rem;
        padding-bottom:.7rem;
    } 
    .service ul li p {
        font-size:1.4rem;
    } 

   

    .service ul li:nth-of-type(2n){
        /* margin-top:3%; */
        
        background:#f5f5f5;
    }
    .service ul li:nth-of-type(1),.service ul li:nth-of-type(2){
        /* margin-top:3%; */
        margin-bottom:3%;
    }

    .service ul img{
        width: 100%; 
        height:100px; 
        object-fit: contain;
    }

    .service ul li > div{
        width:84%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;

    }

    .text_group {
        /* text-align:center; */
        font-size :1.6rem;
    }

    .text_group h2 {
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom:7px;
    }
    .text_group p {
        padding-top:13px;
      
    }

    .text_group h2 span {
        font-weight: 700;
        color: #16305f;
    }



    /*.business & #offer */
    .m95{
        width: 95%!important;
        margin: 0 auto;
    }

    .business{padding:50px 0px;}
    .business .con2_wrap{
        width:100%;
        box-sizing: border-box;
        text-align:center;
        margin:0 auto ;
        background: #eff2f4;
        
        padding: 60px 0;
        
    }
    .business .con2_wrap > div{
        background: #eff2f4;

        
    }

    .business div h3{
       
        font-size: 2.4rem;
        line-height: 1.42;
        font-weight: 600;
        color: #080808;
        letter-spacing: -1.28px;
        text-align: center;
        margin: 15px 0 37px;

    }

    .business div > img{
        width:3rem;
    }

    .business ul{
        display:flex; 
        margin:0 auto;
        align-items: center; 
        justify-content:center;
    }

    .business ul li{
        width:10rem;
        height:10rem;
        padding:19.8px 0px;
        border-radius: 20px; 
        box-shadow: 5px 2px 22px -15px;
        background: #fff;
        text-align:center;   
        box-sizing: border-box;
        margin-right:10px;
    }
    .business ul li:last-child{
        margin-right:0;
    }


    .business ul li div img{
        width:3.2rem;
    }

    .business ul li p{
        padding-top:2px;
        color:#080808;
        font-size:1.4rem;
    }



    /*.information & #map */


    .info {
        
        box-sizing: border-box;            
        
        font-size:1.4rem;
       
        vertical-align: center;

    }
    
    .info > div:first-child {
       
        width:100%;
    }

    .info h2 {
        font-weight: 700; 
        font-size:3.5rem;
    }


    .info .address {
        color: #16305f;
        font-weight: 700;
        padding:3rem 0rem;
    }



    .info > div span {
        font-weight: 700;
    }
    .info > div ul li {
        line-height:2;
      
    }
    
    
    /*구글맵*/

    /* #map .map{
        position: relative;
        margin: 0 auto;
        max-width:1025px;
        width:100%;
        max-height:48vh;
        height:100%;
    }
    #map .map > div{
        width:100%;
    }
    #map .map > div iframe{
        position: absolute;
        z-index:1;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    */

    /*카카오맵*/
    .kakaomap{
        position:relative;
        margin:30px auto;
        width:100%;
        height:400px;
        
        
    }

    .kakaomap > .root_daum_roughmap{
        width:100%;
        /* padding-bottom:56.25%; */
        
        height:100%;
    }

    .kakaomap > .root_daum_roughmap .wrap_map{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
        width:100%;
        height:100%;
    }

    .kakaomap .hide {
        display:none;
    }

/*푸터*/
    footer{
        height: 200px;
        /* position : relative;
        transform : translateY(-100%); */
        background:#16305f ;
        padding:29.51px 0;
        box-sizing:border-box;
        
    }

    .f_wrap{
        max-width:90%;
        margin:0 auto;
        color:#fff;
        font-size:1.4rem;
    }

    .f_wrap  h1 img{
        width:12.6rem;
        margin-bottom:.7vw;
    }

    .f_wrap p{
        display: inline-block;
        margin-right:30px;
        font-weight: 200;
        line-height:1.8;
        letter-spacing: 0.7px;

    }

    .f_wrap p span{
        display: inline-block;
        font-weight:400;
    }

    .f_wrap .copyright{
        display: inline-block;
        color:rgba(0255,255,255,.5);
        font-size:1rem;
        margin-top:10px;
        letter-spacing: 1px;
    }


    /*고정 상단 버튼*/
    .top_btn{
        display:block;
        width:40px;
        height:40px;
        border-radius: 50%;
        box-sizing: border-box;
        text-align: center;
        position: fixed;
        right:2vw;
        bottom:2vw;
        align-items: center;
        background: #fff;
        box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0,0,0,0.2);
        z-index:50;
    }
    .top_btn span{
        line-height:1.9;
    }
    .top_btns{width:20px;}

}
